.board {
  display: grid;
  /* gap: 8px; */
}

.cell {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0;
}

.occupied {
  background-color: #005f6a;
}

.hit {
  background-color: #ff0011;
}

.missed {
  background-color: #dbd7d7;
}

.selected {
  border-color: #11aa22;
}
