.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.statusbar {
  width: 100%;
  padding: 8px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
