.ship {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #005f6a;
  width: 200px;
  border-radius: 2px;
}

.ship:hover {
  cursor: grab;
}

.shipList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rotate {
  transform: rotate(90deg);
}
