.ship {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--primary-color);
  width: 200px;
  border-radius: 2px;
}

.ship:hover {
  cursor: grab;
}

.shiplist {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rotate {
  transform: rotate(90deg);
}

.shiphits {
  border: 1px solid var(--primary-color);
}
